<!doctype html>
<html lang="en">


<head>
    <title>
        book store
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <script>
        function booktypes() {
            var a = document.getElementById('booktype').value;

            if (a === "softcopy") {
                console.log(a);
                document.getElementById('booklabel').style.display = "block";
                document.getElementById('bookcopy').style.display = "block";

            } else {
                console.log(a);
                document.getElementById('booklabel').style.display = "none";
                document.getElementById('bookcopy').style.display = "none";

            }
        }
    </script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/deletebook.css">

</head>

<body>

    <body>
        <!-- main -->
        <div class="main-w3layouts wrapper">
            <h1>Delete book form</h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <form action="deletebook" method="post">
                        <input class="text" type="text" name="bookid" placeholder="BookId" required="" maxlength="40">


                        <br>


                        <div class="wthree-text">
                            <label class="anim">
							<input type="checkbox" class="checkbox" name ="check" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
                            <div class="clear"> </div>
                        </div>
                        <input type="submit" value="Delete">
                    </form>

                </div>
            </div>

            <ul class="colorlib-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>



    </body>

</html>

</html>