<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6a271b8d58.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/home.css">

    <title>BookStore</title>
    <style>

    </style>

</head>

<body>

    <header>
        <div class="logo ">
            <h2><a href="/"> Bookstore</a></h2>
        </div>

        <ul class="nav">
            <% if(login) { %>
                <li><a href="profile">Profile</a></li>
                <li><a href="logout">Logout</a></li>
                <%}else{ %>
                    <li><a href="signup">Sign Up</a></li>
                    <li><a href="login">Login</a></li>
                    <%}%>
        </ul>

    </header>

    <div class="main">

        <form method="" action="/search" enctype="multipart/form-data" target="_self" name="search2" autocomplete="on"
            required>
            <label for="cars"></label>
            <select id="category" name="Filter" class="custom-select" autofocus required>
                <option value="book">Book</option>d
                <option value="author">Author</option>
            </select>
            <input type="text" placeholder="Search books" id="search" name="search2">
            <button type="submit" class="btn"><i class="fas fa-search"></i></button>
        </form>
    </div>

</body>

</html>