<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href='stylesheets/home.css'>
    <title>Book Store</title>

</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="about">About us</a>
        <a href="help">Help</a>
        <a href="#about">Discussion</a>
        <div class="dropdown">
            <button class="dropbtn">Account
      <i class="fa fa-caret-down"></i>
    </button>
            <div class="dropdown-content">
                <% if(login) { %>                  
                <a href="profile">Profile</a>
                <a href="logout">Logout</a> 
                <%}else{ %>
                <a href="signup">Signup</a>
                <a href="login">Login</a>
                <%}%>
            </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>



    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <%-body%>
</body>

</html>