<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/search.css">
    <title>Search</title>
    <style>

    </style>

</head>

<body>
    <header>
        <div class="logo ">
            <h2><a href="home"> Bookstore</a></h2>
        </div>

        <ul class="nav">
            <li><a href="contact">Login</a></li>
            <li><a href="gallery">Profile</a></li>
            <li><a href="gallery">Logout</a></li>
            <li><a href="gallery">Sign Up</a></li>

        </ul>

    </header>
    <div class="main">
        <% foundBooks.forEach(function(book){ %>

            <div class="card">
                <p>
                    <%= book.title %>
                </p>
                <p>
                    <%= book.author %>
                </p>
                <p> Address</p>
                <p>
                    <%= book.availableAs %>
                </p>
                <p><a href="/owner/<%= book.owner%>" class="btn btn-info" role="button">See Owner</a></p>


            </div>

    </div>
    <% })%>
        <%if (foundBooks.length==0){%>

            <div class="theend">
                <p style="text-align: center;">
                    NO books Found
                </p>
            </div>
            <%}%>

                </div>
</body>

</html>