html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: rgb(45, 73, 90);
  height: 100%;
  
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  list-style: none;
}

header {
  color: whitesmoke;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(57, 59, 59);
  font-family: "Times New Roman", Times, serif;
}

.logo h2 a {
  text-decoration: none;
  color: #f5f5f5;
}

.logo {
  text-align: center;
}

.nav {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav li a {
  margin: 0;
  text-decoration: none;
  color: #f5f5f5;
}

.nav li {
  padding: 10px;
  font-size: large;
  text-indent: 5px;
  transition: ease-in-out 0.5s;
}

.nav li:hover {
  background-color: #797979;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(57, 59, 59);
  }
}



.main {

  font-family: "Stint Ultra Condensed", "cursive";
  font-size: 1.5rem;
  margin-top:10px ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items:start;

}

.main .card {
   background-color: rgb(192, 192, 192);
   justify-self: center;
   border: 2px solid black; 
   height: 250px;
   width: 250px;
   text-align: center;
   box-shadow: #959393 5px 5px 5px;
}

.main .card:hover{
  border: 1px dashed black;
 
}

